body {
    margin: 0;
    background-color: #000000;
}

.container {
    width: 100vw;
    height: 100vw;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px 1fr 1fr 70px;
    
    gap: 14px;

    padding: 14px;
    box-sizing: border-box;
}

.container div {
        padding: 14px;
        border: 3px solid #8E8E8E;
}

 .header{
    border-radius: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:#ffffff;
    word-spacing: 10px;
 }

 .menu{
    border-radius: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:#ffffff;
    text-align: center;
    word-spacing: 80px;
 }

 .content-large {
     border-radius: 13px;
     grid-row-start: 3;
     grid-row-end: span 2;
     grid-column-start: 1;
     grid-column-end: 3;
     background-color: #262626;
     line-height: 2em;
 }

 .content-small {
    border-radius: 13px;
    background-color: #ffffff;
 }

 .footer{
     border-radius: 40px;
     grid-column: 1 / span 3;
     background-color: #262626;
 }

 a {
        color: rgb(0, 0, 0);
        background-color: transparent;
        text-decoration: none;
    }

 a:hover {
  color: #E1FF00 ;
  border-radius: 5px;
  background-color: #8E8E8E;
 }

 #img_1{
     width: 700px; 
     margin: 0 auto;
     display: block;
 }

 #img_ls400{
    width: 410px; 
    margin: 0 auto;
    display: block;
 }

 #icon{
    width: 23px; 
 }